# 核心依赖
projectaria_tools==1.5.2
torch==2.1.2
requests
rerun-sdk==0.16.1
vrs
matplotlib

# MANO 相关（需先同意第三方许可证）
# 若不想装，把下两行注释即可
# git+https://github.com/vchoutas/smplx.git
# git+https://github.com/mattloper/chumpy.git